// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Text Colors
$textLight1: #ffffff;
$textLight2: #fafafa;
$textLight3: #f5f5f5;
$textDark1: #000000;
$textDark2: #242424;

// Primary Colors
$primaryColor: #70259b;
$primaryDark: #430964;
$primaryLight: #d100c9;

// Spacers
$spacer1: 60px;
$spacer2: 8vw;

$danger1: #ff3860;
$danger2: #ff3860;
